org.apache.felix.jaas.Configuration.factory.4f6d9743-12da-49eb-95b9-338d3068c8e7="launchpad:resources/install/10/org.apache.felix.jaas-0.0.4.jar"
org.apache.felix.jaas.Configuration.factory.634edf31-e8a4-4fa0-b77f-4dbe5a5cab4e="launchpad:resources/install/10/org.apache.felix.jaas-0.0.4.jar"
org.apache.felix.jaas.Configuration.factory.72bfbe0c-d5ea-4a19-a581-e89f7aac02b2="launchpad:resources/install/10/org.apache.felix.jaas-0.0.4.jar"
org.apache.felix.jaas.ConfigurationSpi="launchpad:resources/install/10/org.apache.felix.jaas-0.0.4.jar"
org.apache.sling.commons.log.LogManager="slinginstall:org.apache.sling.commons.log-4.0.6.jar"
org.apache.sling.commons.log.LogManager.factory.config.74410090-82c2-4cdc-85e8-514707cf7712="slinginstall:org.apache.sling.commons.log-4.0.6.jar"
org.apache.sling.commons.log.LogManager.factory.config.d3abd680-f896-4da0-826d-e6ec6e79239d="slinginstall:org.apache.sling.commons.log-4.0.6.jar"
