jaas.classname="org.apache.jackrabbit.oak.spi.security.authentication.GuestLoginModule"
jaas.controlFlag="optional"
jaas.ranking=I"300"
service.factoryPid="org.apache.felix.jaas.Configuration.factory"
service.pid="org.apache.felix.jaas.Configuration.factory.72bfbe0c-d5ea-4a19-a581-e89f7aac02b2"
