factory.pid="org.apache.felix.jaas.Configuration.factory"
factory.pidList=[ \
  "org.apache.felix.jaas.Configuration.factory.72bfbe0c-d5ea-4a19-a581-e89f7aac02b2", \
  "org.apache.felix.jaas.Configuration.factory.4f6d9743-12da-49eb-95b9-338d3068c8e7", \
  "org.apache.felix.jaas.Configuration.factory.634edf31-e8a4-4fa0-b77f-4dbe5a5cab4e", \
  ]
